*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header{
    margin-top: 40px;
    margin-left: 70px;
}

section{
    display: grid;
    grid-auto-flow: column;
    margin-left: 70px;
    text-align: center;
}

#div-card{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}

p{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin-top: 15px;
}

#imagemsport{
    width: 500px;
    border-radius: 15px;
    margin-top: 180px;
    margin-right: 100px;
}

#tri-imagem{
    width: 400px;
    border-radius: 55px;
    text-align: center;
}

h1{
    font-weight: 700;
    font-size: 25px;
    line-height: 45px;
    margin-top: 30px;
    margin-left: 50px;
    color: #17608a;
}

.icon{
    margin-top: 300px;
    text-align: center;
}

button{
    background: #29526a;
    border-radius: 15px;
    width: 300px;
    height: 70px;
    border: none;
    color: white;
    font-size: 30px;
    margin-top: 75px;
    margin-right: 100px;
}

button:hover{
    cursor: pointer;
    background-color: #17608a;
    color: #71C9ED;
}

